@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
:root {
  --lightRed: hsl(0, 100%, 67%);
  --orangeYellow: hsl(39, 100%, 56%);
  --greenTeal: hsl(166, 100%, 37%);
  --cobaltBlue: hsl(234, 85%, 45%);
  --lightslateblue: hsl(252, 100%, 67%);
  --lightroyalblue: hsl(241, 81%, 54%);
  --Violetblue: hsla(256, 72%, 46%, 1);
  --Persianblue: hsla(241, 72%, 46%, 0);
  --White: hsl(0, 0%, 100%);
  --Paleblue: hsl(221, 100%, 96%);
  --Lightlavender: hsl(241, 100%, 89%);
  --Darkgrayblue: hsl(224, 30%, 27%);
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Hanken Grotesk";
}
.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.top,
.bottom {
  width: 100%;
}
#top-container {
  height: 100%;
  background: linear-gradient(var(--lightslateblue), var(--lightroyalblue));
  border-radius: 0px 0px 30px 30px;
  display: grid;
  place-items: center;
  color: var(--White);
}
#top-container #circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: linear-gradient(var(--Violetblue), var(--Persianblue));
  display: grid;
  place-items: center;
}
#top-container #result {
  margin: 20px 0px;
  opacity: 0.7;
}
#top-container #seven-six {
  position: relative;
  top: 10px;
  font-size: 50px;
  font-weight: 700;
}
#top-container #great {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
}
#top-container #hundred {
  position: relative;
  top: -8px;
  font-size: 14px;
  opacity: 0.3;
}
#top-container #paragraph {
  margin: 10px 0px 40px 0px;
  font-size: 15px;
  opacity: 0.7;
}
#bottom-container {
  height: 100%;
  margin: 20px 30px 0px 30px;
}
#bottom-container #box-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}
#bottom-container #box-container .box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: 100%;
  height: 55px;
  border-radius: 10px;
  font-weight: 700;
}
#bottom-container #continue {
  display: grid;
  place-items: center;
  border-radius: 100px;
  width: 100%;
  height: 50px;
  background-color: var(--Darkgrayblue);
  margin-top: 20px;
  color: var(--White);
}
.box-image {
  display: grid;
  place-items: center;
}
#summary {
  font-weight: 700;
}
.box-image {
  position: relative;
  left: -20px;
}
.box-text-1 {
  position: relative;
  left: -70px;
}
.box-text-2 {
  position: relative;
  left: -75px;
}
span {
  opacity: 0.4;
}
#reaction {
  color: var(--lightRed);
}
#memory {
  color: var(--orangeYellow);
}
#verbal {
  color: var(--greenTeal);
}
#visual {
  color: var(--cobaltBlue);
}
#bottom-container #box-container #box-1 {
  background-color: hsla(0, 100%, 67%, 0.1);
}
#bottom-container #box-container #box-2 {
  background-color: hsla(39, 100%, 56%, 0.1);
}
#bottom-container #box-container #box-3 {
  background-color: hsla(166, 100%, 37%, 0.1);
}
#bottom-container #box-container #box-4 {
  background-color: hsla(234, 85%, 45%, 0.1);
}
.attribution {
  position: relative;
  bottom: -90px;
  margin-left: 10px;
  font-size: 15px;
}
.attribution a {
  text-decoration: none;
}
@media screen and (max-width: 320px) {
  .box-text-1 {
    left: -60px;
  }
  .box-text-2 {
    left: -65px;
  }
  .attribution {
    all: unset;
    position: relative;
    bottom: -200px;
  }
}
@media screen and (min-width: 360px) and (max-width: 370px) {
  .attribution {
    all: unset;
    position: relative;
    bottom: -20px;
    font-size: 15px;
  }
}
@media screen and (max-width: 390px) {
  .attribution {
    all: unset;
    position: relative;
    bottom: -55px;
    margin-left: 15px;
    font-size: 15px;
  }
}
@media screen and (min-width: 393px) and (max-width: 500px) {
  .attribution {
    all: unset;
    position: relative;
    bottom: -15px;
    margin-left: 16px;
    font-size: 15px;
  }
}
